<div class="jumbotron">
  <div class="container text-center">
    <h1><%= @user.name %></h1>

    <p>
      <strong>Idade</strong>
      <%= @user.age %>
      <br>
      <br>
      <strong>Endereço</strong>
      <%= @user.address %>
      <br>
      <br>
      <strong>Cpf:</strong>
      <%= @user.cpf %>
    </p>

    <%= link_to 'Editar', edit_user_path(@user), :class => 'btn btn-warning', :style => 'color: white;' %>
    <%= link_to 'Voltar', users_path, :class => 'btn btn-primary', :style => 'color: white;' %>
  </div>
</div>
